@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}
.rest-name {
    font-family: 'Pinyon Script';
    color: silver;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 200px;
    padding: 1rem;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header > p {
    margin: 0;
    font-size: 5rem;
}

footer {
    height: 3rem;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: silver;
}

header,
footer {
    background-color: rgba(4, 4, 63, 0.898);  
}

.container-btn {
    display: flex;
    gap: 50px;
}

header button {
    font-family: 'Pinyon Script';
    font-size: 2rem;
    color: silver;
    background: none;
    border: none;
}

header button:hover {
    transform: scale(1.4);
}

main {
    background-color: rgba(17, 17, 93, 0.419);
    min-height: 100px;
    min-width: 100px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.div-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.div-home p {
    font-family: 'Helvetica';
    color: white;
    font-size: 1.5rem;
}

.img-chef {
    height: 500px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.div-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.img-location {
    height: 400px;
    width: auto;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-details p {
    color: white;
    font-family: 'Helvetica';
    margin: 5px;
    font-size: 1rem;
}

.btn-container {
    display: flex;
    gap: 50px;
}

.btn-container button {
    font-family: 'Pinyon Script';
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    padding: 10px;
}

.btn-container button:hover {
    transform: scale(1.4);
}

.div-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn-border {
    border-bottom: white solid 2px;
}

.btn-container .btn-border {
    border-bottom: white solid 2px;
}

.div-appetizers,
.div-entrees,
.div-main,
.div-desserts {
    display: flex;
}


